image-classification/cifar-10-batches-py/*
image-classification/*.p
image-classification/*.tar.gz
image-classification/checkpoint
image-classification/image_classification.data-00000-of-00001
image-classification/image_classification.index
image-classification/image_classification.meta
